

.container {
    background-color: #333;
    border: 3px solid red;
    padding: 15px;
    display: grid;
    gap: 5px;
    align-items: center;
    grid-template-areas: 
        'header header header'
        'sidebar sidebar content'
        'footer footer footer';
}

.container div {
    background-color: #ccc;
    padding: 20px;
    border: 1px solid blue;
}
.cabecalho {
    text-align: center;
    padding: 25px;
    display: grid;
    grid-template-columns: 1fr 900px 1fr;
}

#img1 {
    width: 200px;
    margin-top: 40px;
    padding-top: 40px;
    
    border: 2px solid black;
}

#link {
    padding: 70px 5px 5px 5px;
    margin: 30px 5px 60px 5px;
    height: 60px;
    background-color: yellow;
    border: 2px solid black;
    
}

#img2 {
    width: 100px;
    margin-right: 30px;
    text-align: center;
}

.a {
    text-decoration: none;
    padding: 15px;
    width: 5px;
    height: 200px;
    background-color: blue;
    color: white;
}

 #quebra {
    background-color: red;
    color: white;
    text-decoration: none;
    padding: 15px;
    margin-right: 5px;
    height: 60px;
    
}

#header {
    grid-area: header;
    height: 30vh;
    text-align: center;
}

#sidebar {
    grid-area: sidebar;
    height: 55vh;
}

#content {
    grid-area: content;
    height: 55vh;
}

#footer {
    grid-area: footer;
}

/* #img2 {
    grid-column-start: 1;
    grid-column-end: 4;
} */
